In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.random.randn(20, 5))
df.columns = ['score_1', 'score_2', 'score_3', 'score_4', 'score_5']
df

     score_1   score_2   score_3   score_4   score_5
0  -0.501368 -0.720198  0.230734  0.595493 -0.263954
1  -0.158603  1.798725  1.578630  1.153806 -0.252319
2   0.502508  1.932259 -1.648970 -0.864628  0.269808
3   0.099309 -0.178704 -0.911363  1.073794  1.164896
4  -1.107781 -0.418924  0.458205 -1.161032 -0.296886
5  -0.636394 -1.094314  1.479227  1.615395 -2.475227
6  -1.637229  0.502719 -0.446618  0.225130 -1.532501
7  -0.385692  0.994943  0.323388 -1.122125  0.314988
8  -1.055116  1.140179 -0.157503  0.580273 -0.207664
9   0.241520  0.469671 -0.456192 -0.582662  1.265090
10 -1.141420  0.381071 -0.234380  0.379294  0.200476
11  0.440190  0.722378 -0.517821  0.472270  0.179411
12 -0.551772  0.184690  1.303851  0.184224  0.939196
13 -0.476620 -2.040819 -1.189078  0.736926 -0.295144
14 -1.179114 -0.510049 -0.410773  0.738424  0.176730
15 -1.372513 -0.390837 -0.299386  0.713741  0.413296
16  0.074741  0.810792  0.135427  1.070536 -1.627608
17 -0.482651  0.490658  0.546947  1.361712  0.991910
18 -1.476585  0.567132  0.079144  1.362357 -1.800976
19  0.599794  2.096452  1.075834 -1.255138 -0.117178

In [7]:
df.describe()

         score_1    score_2    score_3    score_4    score_5
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean   -0.510240   0.336891   0.046965   0.363890  -0.147683
std     0.690003   1.033132   0.863361   0.897717   1.014812
min    -1.637229  -2.040819  -1.648970  -1.255138  -2.475227
25%    -1.116191  -0.397859  -0.449011  -0.007498  -0.295580
50%    -0.492010   0.480165  -0.039180   0.587883   0.029776
75%     0.080883   0.856829   0.480391   1.071351   0.339565
max     0.599794   2.096452   1.578630   1.615395   1.265090

In [8]:
col = df['score_1']
col[np.abs(col) > 2]

Series([], Name: score_1, dtype: float64)